@use "../../../styles/abstracts/_variables" as *;
@use "../../../styles/abstracts/_mixins" as *;

.box-icon {
   line-height: 6.5rem;
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
}

.homebox {
   background-color: var(--primary-color-light);
   color: var(--text-color);
}



.card-body {
   padding: 3rem;
}