// COLORS
$primary-blue: #15cfff;
$primary-green: #00d09c;
$primary-gold: #ffc36d;
$primary-red: #ff5050;
$primary-green-hover: #03bb8d;
$primary-background: #192735;
$white: #fff;
$body-color: #e4e9f7;
$body-color-dark: #323743;
$sidebar-color: #fff;
$sidebar-color-dark: #192735;
$primary-color: #00d09c;
$primary-color-dark: #3a3b3c;
$primary-color-light: #F6F5FF;
$primary-color-light-dark: #272b34 ;
$toggle-color: #DDD;
$toggle-color-dark: #fff;
$text-color: #192735;
$text-color-dark: #ccc;
$heading-color: #192735;
$heading-color-dark: #fff;
$link-color: #192735;
$link-color-dark: #00d09c;




