@use "../../../styles/abstracts/_variables" as *;
@use "../../../styles/abstracts/_mixins" as *;

.tickets {
  & .card {
    background-color: var(--primary-color-light);
    color: var(--text-color);
  }
}

.ticketBox {
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
  & h1 {
    font-size: 4.5rem;
  }

  & h6 {
    font-size: 1.8rem;
  }
}

.rdt_Pagination,
.rdt_TableRow,
.rdt_TableHeadRow,
.rdt_ExpanderRow,
#ticket-select {
  background-color: var(--primary-color-light) !important;
  color: var(--text-color) !important;
}

.eiPgcm {
  color: grey !important;
}

.rdt_TableHeadRow {
  font-size: 1.6rem;
}

.rdt_TableRow {
  font-size: 1.4rem;
}

.ticket-btn {
  font-size: 1.6rem;
  margin-top: 0.4rem;
}

.ticket-search {
  background-color: var(--primary-color-light);
  color: var(--text-color);
  font-size: 1.5rem;
  padding: 1rem;

  &:focus {
    background-color: var(--primary-color-light);
    color: var(--text-color);
  }
}

.bzRnkJ,
.gHqiHO {
  background-color: var(--primary-color-light) !important;
  color: var(--text-color) !important;
  font-size: 1.5rem;
}

.dwPlXY,
.gKbhqU {
  font-size: 1.3rem !important;
}

.fyrdjl {
  height: 4rem !important;
  width: 4rem !important;
  padding: 0.8rem !important;
}

.ticketInput {
  @include respond(port) {
    width: 100% !important;
  }
}
